body{
    font-family: Helvetica, sans-serif;
    margin: 0em;
}


/*positioning*/
.left{
    float: left;
}

.right{
    float: right;
}


/*first and second navibar together*/
#navis {
    width: 30em;
}


/*first navibar*/
#fstNavi{
    background-color: #343B47;
    height: 58.25em;
    width: 14em;
}

/*heading of frst navibar*/
#fstNavi > div {
    border-bottom: 0.15em solid #292E38;
    height: 3.73em;
}

#fstNavi > div > h1 {
    color: #B8BBBF;
    display: inline-block;
    font-size: 1.95em;
    margin-right: 0em;
    margin-top: 0.485em;
}

#fstNavi > div > img {
    height: 1.5625em;
    margin-left: 1.3125em;
}

/*main part of frst navibar*/
.fstNaviListEle > a {
    color: #B8BBBF;
    display: block;
    height: 3.55em;
    margin-top: -0.06725em;
}

.fstNaviListEle > a > img {
    margin-left: 1.4375em;
    width: 1.25em;;
}

.fstNaviListEle > a > h3 {
    display: inline-block;
    font-size: 1.1em;
    margin-left: 0.62em;
    margin-top: 1.2em;
    width: 9.65em;
}

.fstNaviListEle > a:hover {
    background-color: #454E5D;
    border-bottom: 0.0625em solid #292E38;
    border-top: 0.0625em solid #292E38;
}

.bottomBorder{
    border-top: 0.0625em solid #292E38;
    float: right;
    height: 0em;
    margin-top: -0.0625em;
    width: 12.8125em;
}


/*second navibar*/
#scndNavi{
    background-color: #4E7BAE;
    height: 58.25em;
    width: 16em;
}

/*heading of second navibar */
#scndNavi > div {
    color: #FFFCF8;
    font-size: 1.5em;
    height: 1.6em;
    margin-bottom: 1.25em;
}

#scndNavi > div > h1 {
    margin-bottom: 0.62em;
    margin-left: 1.5em;
    margin-top: 0.875em;
}

/*sorting button in second navibar*/
#scroll{
    background-color: #4E7BAE;
    border-color: #4571A7;
    border-style: solid;
    border-width: 0.175em 0em 0.175em 0em; 
    color: #83B3DB;
    font-size: 0.5em;
    height: 2.1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#scroll > button{
    background-color: #4E7BAE;
    border: 0em;
    color: #83B3DB;
    margin-right: 1em;
    margin-top: 0.2em;
    outline-color: #4E7BAE;
}
.right img{
    display: inline-block;
    height: 1em;
    margin-bottom: -0.15em;
    margin-left: 0.35em;
    width: 1em;
}

/*main part of second nabibar*/
.scndNaviListEle {
    border-bottom: 0.0625em solid #4571A7;
    color: #FFFCF8;
    list-style-type: none;
}

.scndNaviListEle > h3 {
    margin-bottom: -0.60505em;
    margin-left: 1.65em;
    padding: 0.9em;
}

.scndNaviListEle > p {
    color: #83B3DB;
    display: inline-block;
    font-size: 0.7em;
    margin-bottom: 1.475em;
    margin-left: 3.7em;
}

.scndNaviListEle:hover {
    background-color: #549FCE;
}


/*main part*/
#mainPart{
    background-color: #FFFFFF;
    display: inline;
    position: absolute;
}

#mainPart > div {
    margin-left: 1.8em;
    margin-top: 3.8em;
    height: 4.35em;
    width: 50.7em;
}

#mainPart > div > h1 {
    color: #94887F;
    font-size: 2.6em;
    letter-spacing: -0.06em;
}

#mainPart > div > button {
    background-color: #EA4C45;
    border: 0em;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1em;
    height: 1.875em;
    margin-top: -2.5em;
    outline-color: #FFFFFF;
    width: 4.8125em;
}

/*upper tables*/
.table {
    background-color: #F2F2F2;
    border-color:  #DEDEDE;
    border-collapse: collapse;
    border-style:  solid;
    border-width: 0.0625em 0em 0.0625em 0em;
    margin-left: 1.3em;
    width: 51.3em;
    height: 4.7em;
}
.table th{
    color: #DFDFE4;
    font-size: 0.6em;
    text-align: left;
    text-indent: 1.6em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-top: 1em;
}
.table tr{
    height: 0.79em;
}
.table td{
    font-size: 0.7em;
    height: 0.79em;
    text-align: left;
    text-indent: 1.7em;
}
.fstrow{
    padding-top: 0.35715em;
    vertical-align: middle;
}
.scndrow{
    vertical-align: top;
}

#scndUpTbl {
    border-top: 0em;
    height: 3.6em;
    margin-bottom: 3.6em;
}

#scndUpTbl td {
    padding-top: 1em;
}

#scndUpTbl td:nth-child(1) {
    width: 28em;
}

#scndUpTbl td:nth-child(2) {
    width: 25.75em;
}

/*lower table*/
#lwrTbl {
    margin-left: 1.3em;
    width: 51.3em;
}

#lwrTbl th{
    border-bottom: 0.0625em solid #EAEAEA;
    color: #BCBCC1;
    font-size: 0.9em;
    height: 1.75em;
    text-align: left;
}

#lwrTbl td{
    border-bottom: 0.0625em solid #EAEAEA;
    color: #6F5D70;
    height: 2.4em;
    padding-top: 1.3em;
    text-indent: 1em;
}

#lwrTbl img{
    height: 1.375em;
    width: 1.375em;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 2.188em;
    margin-bottom: 0.75em;
    cursor: pointer;
    font-size: 1.375em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 0.125em;
    position: absolute;
    top: 0em;
    left: 0.9em;
    height: 0.5em;
    width: 0.5em;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.17em;
    width: 0.1em;
    height: 0.28em;
    border: solid white;
    border-width: 0em 0.125em 0.125em 0em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}